@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Noto + Sans + KR');
@import url('https://fonts.googleapis.com/css?family=Do + Hyeon');
@import url('https://fonts.googleapis.com/css?family=Yeon + Sung&subset=korean');

@font-face {
  font-family: 'NotoSansKR-Medium';
  src: local('NotoSansKR-Medium'),
    url('/fonts/NotoSansKR-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NanumMyeongjo';
  src: url('/fonts/NanumMyeongjo.ttf');
}

@font-face {
  font-family: 'BlackHanSans-Regular';
  src: local('BlackHanSans-Regular'),
    url('/fonts/black-han-sans-v8-korean-regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'NanumBrushScript-Regular';
  src: url('/fonts/NanumBrushScript-Regular.ttf');
}
@font-face {
  font-family: 'NanumSquareR';
  src: url('/fonts/NanumSquareR.woff');
}
